html {
	background-color: #0a0a0a;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffe8;
	border: 4ch solid #ffffe8;
	width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: italic;
}

p {
	font-family: serif;
	text-align: justify;
	text-indent: 6ch;
	margin: 0 auto;
}

.doc-title {
	font-size: 8ch;
	font-family: serif;
}

.doc-author, .doc-date {
	font-size: 2ch;
	font-family: sans-serif;
}
